<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/auth.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (errorMessage) { %>
        <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <%= user %>
        <form class="login-form" action="/new-password" method="POST">
            <div class="form-control">
                <label for="email">New Password</label>
                <input type="password" name="password" id="password">
            </div>
            <input type="hidden" value="<%= user %>" name="forgotemail" id="forgotemail">
            <div class="form-control">
                <label for="email">Confirm Password</label>
                <input type="password" name="confirmpassword" id="confirmpassword">
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">Reset Password</button>
        </form>
    </main>
    <%- include('../includes/end.ejs') %>